/*
 * In this file, you may style your site using CSS or LESS as well as overwrite UIkit LESS variables.
 * Make sure to enable development mode via the Admin->Appearance->Settings option while working on your website. LESS will then be processed on the fly.
/*--------------------------------------------------------------
Site
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.tm-header{
  border-bottom:none;
  padding: @global-margin;
}
.tm-site-branding{
  a{
    font-weight: 400;
    color: @primary-color;
    text-transform: uppercase;
  }
}




/*--------------------------------------------------------------
sidebar
--------------------------------------------------------------*/
.tm-widget{
  margin-bottom: 40px;
}
.tm-secondary{
  margin-bottom: 100px;
}


/*--------------------------------------------------------------
content
--------------------------------------------------------------*/
.tm-main{
  //background: @white;
}


/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
.tm-footer{
  background: @dark-grey;
  color:@white;

}
.tm-fat-footer{
  background: @bg-grey;
}


